.password_area {
    width: 430px;
    height: 180px;
    margin: 165px auto 0;
}

.password_area p {
    color: #6b6b6b;
    font-size: 20px;
    line-height: 60px;
    overflow: hidden;
}
.password_area span{
    float: left;
}
.password_area input {
    background: #fafafa;
    border: 1px solid #dddddd;
    height: 40px;
    line-height: 40px;
    border-radius: 6px;
    text-indent: 20px;
    width: 276px;
    margin: 10px 0;
    float: right;
}